.previewForm {
    border: 5px solid #A56AEB;
    border-radius: 10px;
    padding: 5.5rem;
}

@media only screen and (max-width: 768px) {
    .previewForm {
        margin: 1.5rem 0;
        padding: 1rem;
    }
}
  
.previewForm:hover {
    cursor: pointer;
    background-color: #343434;
}

.previewForm p {
    color: #44839E;
}